body{
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: auto auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #4b546d9c;
    color: black;
}

header{
    grid-column: span 2;
    text-align: center;
}

div{
    border: medium solid black;
    margin: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

fieldset{
    border: thin solid black;
    margin: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

h2{
    text-align: center;
}

legend{
    font-weight: bold;
}

#slider{
    display: grid;
    grid-template-columns: auto auto;
}